.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0;
  height: 877px;
  width: 877px;
  background: url(../../../images/kaufman-triangle.svg) no-repeat;
  background-size: 877px 877px;
}
