.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/*===header===*/

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  align-items: center;
  /* выше установили ограничения для секции */
}

.logo{
  width: 183px;
  height: 32px;
}

.logo_place_header{
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title{
  line-height: 96px;
  width: 730px;
  margin-left: 64px;
  font-weight: bold;
  font-size: 102px;
  z-index: 1;
}

.header_subtitle{
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  z-index: 1;
}

.header__link{
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustrarion{
  position: absolute;
  bottom: 0;
  right: 0;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
}

/*===content===*/

.content{
  display: flex;
  flex-direction: column;
}

/*===description===*/

.description{
  height: 100vh;
  min-height: 500px;
  max-height: 532px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.content__description{
  margin-top: 100px;
}

.two-columns{
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief{
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  align-self: flex-start;
}

.brief__link{
  text-decoration: none;
  color: #2f80ed;
}

.two-columns__main-text{
  min-width: 784px;
  width: 80%;
}

.two-columns__paragraph{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph_margin-bottom{
  margin-bottom: 30px;
}

.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
